In [9]:
import pandas as pd 

tables=['authors','asrs','diwans','kafiyas','bahr_types']

for table in tables:
    globals()[table] = pd.read_csv(f'./db_as_csv/public.{table}.csv')

In [10]:
data=pd.read_csv("./storage/app/public/data.csv")


data.columns

Index(['العصر', 'الشاعر', 'الديوان', 'القافية', 'البحر', 'الشطر الايسر',
       'الشطر الايمن', 'البيت'],
      dtype='object')

In [11]:
print(len(data))

1831770

In [12]:
join_rule={'القافية':'kafiyas','البحر':'bahr_types','الشاعر':'authors','العصر':'asrs',
'الديوان':'diwans'
}




for key,value in join_rule.items():
    print(globals()[value].columns,value)

    data=data.merge(globals()[value][['name','id']],left_on=key,how='outer',right_on='name',suffixes=('',f'_{key}'))

Index(['id', 'name', 'created_at', 'updated_at'], dtype='object') kafiyas
Index(['id', 'name', 'created_at', 'updated_at'], dtype='object') bahr_types
Index(['id', 'name', 'bio', 'created_at', 'updated_at'], dtype='object') authors
Index(['id', 'name', 'created_at', 'updated_at'], dtype='object') asrs
Index(['id', 'name', 'created_at', 'updated_at'], dtype='object') diwans

In [13]:

data.rename(columns={'id':'id_القافية','name':'name_القافية'},inplace=True)


renaming_rule={
    'id_القافية':'kafiya_id',
    'id_البحر':'bahr_type_id',
    'id_الشاعر':'author_id',
    'id_العصر':'asr_id',
    'id_الديوان':'diwan_id'
}

data.rename(columns=renaming_rule,inplace=True)

data


columns_to_drop=['القافية','البحر','الشاعر','العصر','الديوان']

columns_to_drop+=['name_القافية','name_البحر','name_الشاعر','name_العصر','name_الديوان']

data.drop(columns=columns_to_drop,inplace=True)

In [14]:
data.to_csv("./storage/app/public/ready_for_insertion.csv",index=True)

In [15]:
final_df=pd.read_csv("./storage/app/public/ready_for_insertion.csv",index_col=0)



# Initialize variables
current_author = 1
poem_id = 1
poem_ids = []

# Loop through the rows
for index, row in final_df.iterrows():
    # Check if the current row has a different author_id
    if row['author_id'] != current_author:
        # If the author_id changes, assign a new poem_id
        poem_id += 1
        current_author = row['author_id']
    
    # Assign the current poem_id to the row
    poem_ids.append(poem_id)

# Add the poem_ids as a new column to the DataFrame
final_df['poem_id'] = poem_ids


final_df

,الشطر الايسر,الشطر الايمن,البيت,kafiya_id,bahr_type_id,author_id,asr_id,diwan_id,poem_id
0,وَأَن تَجمَعا شَملي وَتَنتَظِرا غَدا,خَليلَيَّ لا تَستَعجِلا أَن تَزَوَّدا,خَليلَيَّ لا تَستَعجِلا أَن تَزَوَّدا وَأَن...,1.0,1.0,1.0,1.0,1.0,1
1,وَلا سُرعَتي يَوماً بِسابِقَةِ الرَدى,فَما لَبَثٌ يَوماً بِسابِقٍ مَغنَمٍ,فَما لَبَثٌ يَوماً بِسابِقٍ مَغنَمٍ وَلا سُ...,1.0,1.0,1.0,1.0,1.0,1
2,وَتَستَوجِبا مَنّاً عَلَيَّ وَتُحمَدا,وَإِن تُنظِراني اليَومَ أَقضِ لُبانَةً,وَإِن تُنظِراني اليَومَ أَقضِ لُبانَةً وَتَ...,1.0,1.0,1.0,1.0,1.0,1
3,تُؤامِرُني سِرّاً لِأَصرِمَ مَرثَدا,لَعَمرُكَ ما نَفسٌ بِجِدٍ رَشيدَةٍ,لَعَمرُكَ ما نَفسٌ بِجِدٍ رَشيدَةٍ تُؤامِرُ...,1.0,1.0,1.0,1.0,1.0,1
4,وَأَفرَعَ في لَومي مِراراً وَأَصعَدا,وَإِن ظَهَرَت مِنهُ قَوارِصُ جَمَّةٌ,وَإِن ظَهَرَت مِنهُ قَوارِصُ جَمَّةٌ وَأَفر...,1.0,1.0,1.0,1.0,1.0,1
...,...,...,...,...,...,...,...,...,...
1831772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0,1636792
1831773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.0,1636793
1831774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.0,1636794
1831775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.0,1636795
1831776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.0,1636796

In [17]:
final_df.dropna(inplace=True,how='all',subset=['البيت','الشطر الايمن','الشطر الايسر'])


final_df.shape

final_df.to_csv("./storage/app/public/ready_for_insertion.csv",index=True)

In [19]:
df=pd.read_csv("./storage/app/public/ready_for_insertion.csv")


df.shape

(1831770, 10)

In [21]:
df['poem_id'].max()

1636790